<section>
    <h1><%= @user.username %></h1>
    <h2><%= mail_to(@user.email) %></h2>
    <div class="actions">
        <%= link_to "Edit Account", edit_user_path(@user), class: "button" %>
        <%= link_to "Delete Account", @user, data: {  
            turbo_method: :delete, turbo_confirm: 'Are you sure?' },
            class: "button delete" %>
    </div>
</section>