<h1>Posts</h1>
<%= link_to "Post", new_post_path, class: "button" %>
<ul>
    <% @post.each do |post| %>
        Posted by <%=post.user.username %> <%= time_ago_in_words(post.created_at) %> ago
        <h4><%= link_to post.title, post %></h4>
    <% end %>
</ul>